Repository beefproject/beef, pull requests merged in 2019-03, with the labels that each got.

#1697 Excluding BUILD_ID while getting the distro ID
  install
Labels: Install

#1699 Add logger - Fixes #1698
  beef
  config.yaml
  core/loader.rb
  core/logger.rb
  core/main/configuration.rb
  core/main/network_stack/websocket/websocket.rb
  core/main/server.rb
  core/ruby/print.rb
  extensions/admin_ui/api/handler.rb
  extensions/admin_ui/classes/httpcontroller.rb
  extensions/console/extension.rb
  extensions/evasion/evasion.rb
  extensions/metasploit/api.rb
  extensions/metasploit/rpcclient.rb
Labels: Core

#1705 proxy:ignore case when ignoring headers
  extensions/proxy/proxy.rb
Labels: Proxy
