Repository beefproject/beef, pull requests merged in 2019-02, with the labels that each got.

#1663 Added ruby-dev package for Debian and Kali
  install
Labels: Install

#1667 Add getCpuCores getCpuDetails getMemory getBatteryDetails to beef.hardware API
  core/main/client/browser.js
  core/main/client/browser/popup.js
  core/main/client/hardware.js
  core/main/handlers/browserdetails.rb
  extensions/admin_ui/controllers/modules/modules.rb
  extensions/admin_ui/media/javascript/ui/panel/ZombiesMgr.js
Labels: Enhancement

#1674 Add Zombies tab to main panel
  core/main/rest/handlers/hookedbrowsers.rb
  extensions/admin_ui/api/handler.rb
  extensions/admin_ui/media/javascript/ui/panel/DataGrid.js
  extensions/admin_ui/media/javascript/ui/panel/MainPanel.js
  extensions/admin_ui/media/javascript/ui/panel/tabs/ZombieTabLogs.js
Labels: Enhancement

#1678 Decouple Admin UI `base_path`
  config.yaml
  core/main/console/banners.rb
  core/main/router/router.rb
  core/main/server.rb
  extensions/admin_ui/api/handler.rb
  extensions/admin_ui/classes/httpcontroller.rb
  extensions/admin_ui/config.yaml
  extensions/demos/html/basic.html
  extensions/demos/html/beef.jpg
  extensions/demos/html/report.html
Labels: Admin UI

#1679 Add update-geoipdb script
  config.yaml
  core/main/geoip.rb
  update-geoipdb
Labels: Enhancement, Install

#1681 Uncomment beef_init
  core/main/client/timeout.js
Labels: Core

#1683 Remove dm-serialize requirement
  Gemfile
  extensions/network/extension.rb
  extensions/network/rest/network.rb
Labels: Maintainability

#1684 Add XssRays API endpoints
  extensions/admin_ui/media/javascript/ui/panel/tabs/ZombieTabXssRays.js
  extensions/xssrays/api.rb
  extensions/xssrays/controllers/xssrays.rb
  extensions/xssrays/extension.rb
  extensions/xssrays/handler.rb
  extensions/xssrays/rest/xssrays.rb
  tools/rest_api_examples/lib/beef_rest_api.rb
  tools/rest_api_examples/xssrays
Labels: Enhancement, XssRays

#1686 Replace /ui/xssrays controller with REST API - #1389 #1682
  extensions/admin_ui/media/javascript/ui/panel/tabs/ZombieTabXssRays.js
  extensions/admin_ui/media/javascript/ui/panel/zombiesTreeList.js
  extensions/xssrays/controllers/xssrays.rb
  extensions/xssrays/rest/xssrays.rb
Labels: Enhancement, XssRays

#1687 Replace /ui/requester controller with REST API - #1389 #1388
  extensions/admin_ui/media/javascript/ui/panel/tabs/ZombieTabRider.js
  extensions/proxy/proxy.rb
  extensions/requester/api.rb
  extensions/requester/api/hook.rb
  extensions/requester/controllers/requester.rb
  extensions/requester/extension.rb
  extensions/requester/handler.rb
  extensions/requester/models/http.rb
  extensions/requester/rest/requester.rb
Labels: Proxy

#1690 Clean up Admin UI
  config.yaml
  core/bootstrap.rb
  core/core.rb
  core/main/constants/distributedengine.rb
  core/main/distributed_engine/models/rules.rb
  core/main/rest/handlers/hookedbrowsers.rb
  core/main/router/router.rb
  extensions/admin_ui/api/command.rb
  extensions/admin_ui/api/handler.rb
  extensions/admin_ui/classes/httpcontroller.rb
  extensions/admin_ui/classes/session.rb
  extensions/admin_ui/config.yaml
  extensions/admin_ui/constants/agents.rb
  extensions/admin_ui/controllers/authentication/authentication.rb
  extensions/admin_ui/controllers/panel/index.html
  extensions/admin_ui/controllers/panel/panel.rb
  extensions/admin_ui/extension.rb
  extensions/admin_ui/media/javascript/ui/common/beef_common.js
  extensions/admin_ui/media/javascript/ui/panel/DistributedEngine.js
  extensions/admin_ui/media/javascript/ui/panel/PanelViewer.js
  extensions/admin_ui/media/javascript/ui/panel/ZombiesMgr.js
  extensions/admin_ui/media/javascript/ui/panel/zombiesTreeList.js
Labels: Admin UI

#1691 Make zombie context menus dynamic
  extensions/admin_ui/media/javascript/ui/panel/ZombieDataGrid.js
  extensions/admin_ui/media/javascript/ui/panel/zombiesTreeList.js
Labels: Admin UI

#1693 Update BrowserDetails to store textual OID-style key/value data
  core/bootstrap.rb
  core/filters/browser.rb
  core/main/client/browser.js
  core/main/client/os.js
  core/main/handlers/browserdetails.rb
  core/main/models/browserdetails.rb
  core/main/network_stack/websocket/websocket.rb
  core/main/rest/api.rb
  core/main/rest/handlers/autorun_engine.rb
  core/main/rest/handlers/browserdetails.rb
  core/main/rest/handlers/hookedbrowsers.rb
  extensions/admin_ui/api/handler.rb
  extensions/admin_ui/controllers/modules/modules.rb
  extensions/admin_ui/media/javascript/ui/panel/BrowserDetailsDataGrid.js
  extensions/admin_ui/media/javascript/ui/panel/tabs/ZombieTabDetails.js
  modules/browser/detect_activex/module.rb
  modules/browser/detect_vlc/module.rb
  modules/browser/detect_wmp/module.rb
  modules/browser/spyder_eye/module.rb
  modules/host/get_internal_ip_webrtc/module.rb
  tools/rest_api_examples/browser-details
  tools/rest_api_examples/lib/beef_rest_api.rb
Labels: Core, Enhancement, Maintainability
