Repository beefproject/beef, pull requests merged in 2022-01, with the labels that each got.

#2268 GeoIP: update geoip to use new Maxmind GeoIP database
  config.yaml
  core/main/geoip.rb
  install
  update-geoipdb
Labels: Enhancement, Core

#2226 Fix modules for Metasploit v6.1.10-dev
  modules/exploits/beefbind/shellcode_sources/msf/beef_bind-handler.rb
  modules/exploits/beefbind/shellcode_sources/msf/beef_bind-stager-linux-x64.rb
  modules/exploits/beefbind/shellcode_sources/msf/beef_bind-stager-linux-x86.rb
  modules/exploits/beefbind/shellcode_sources/msf/beef_bind-stager-windows-x86.rb
Labels: Defect, MSF Integration

#2272 Metasploit BeEF Bind: Update installation instructions for Metasploit v6
  modules/exploits/beefbind/shellcode_sources/msf/README.md
  modules/exploits/beefbind/shellcode_sources/msf/instructions.txt
Labels: MSF Integration

#2275 Rubocop: Update TargetRubyVersion to 2.7 and enable all NewCops
  .rubocop.yml
Labels: Code Quality

#2276 Modules: Rename browser/webcam to browser/webcam_flash
  modules/browser/webcam_flash/command.js
  modules/browser/webcam_flash/config.yaml
  modules/browser/webcam_flash/dev/com/adobe/images/BitString.as
  modules/browser/webcam_flash/dev/com/adobe/images/JPGEncoder.as
  modules/browser/webcam_flash/dev/com/adobe/images/PNGEncoder.as
  modules/browser/webcam_flash/dev/com/foxarc/util/Base64.as
  modules/browser/webcam_flash/dev/takeit.fla
  modules/browser/webcam_flash/module.rb
  modules/browser/webcam_flash/swfobject.js
  modules/browser/webcam_flash/takeit.swf
Labels: Module

#2278 Rubocop: Disable Metrics/ModuleLength, Naming/ClassAndModuleCamelCase, Style/Documentation
  .rubocop.yml
Labels: Code Quality

#2011 spec: Fix some rubocop violations
  spec/beef/extensions/requester_spec.rb
  spec/beef/extensions/webrtc_spec.rb
  spec/beef/extensions/xssrays_spec.rb
  spec/beef/filesystem_checks_spec.rb
  spec/beef/security_checks_spec.rb
  spec/spec_helper.rb
  spec/support/simple_rest_client.rb
Labels: Code Quality

#2281 Bump Ruby version from 2.7.2 to 2.7.4
  .github/workflows/github_actions.yml
  .ruby-version
Labels: ruby

#2289 Core: Move web server imitation templates into Router class
  core/bootstrap.rb
  core/main/router/error_responses.rb
  core/main/router/router.rb
  extensions/admin_ui/classes/httpcontroller.rb
  extensions/admin_ui/controllers/authentication/authentication.rb
Labels: Core
